{% extends "base/base.html" %} <!-- Heredando (Bloque) plantilla index -->
    {% block title %}Lista de Sedes{% endblock title%}
    {% if form.non_field_errors %}
    <div class="panel">
      {{ form.non_field_errors }}
    </div>
  {% endif %}
  {% block contenido %}
    <script>
	    $(document).ready( function () {
	    $("#id_configuracion").attr('class','active');
            var TAreas = $('#lista_sedes').dataTable({
              "iDisplayLength": 5,
              "iDisplayStart": 0,
              "sPaginationType": "full_numbers",
              "aLengthMenu": [5, 10, 20, 30, 40, 50],
              "oLanguage": {"sUrl": "/static/js/es.txt"},
              "aoColumns": [
                  {"sClass": "registro center", "sWidth": "8%"},
                  {"sClass": "registro center", "sWidth": "8%"},
                  {"sClass": "registro center", "sWidth": "20%"},
				  {"sClass": "registro center", "sWidth": "20%"},
                  {"sWidth": "5%", "bSortable": false, "sClass": "center sorting_false", "bSearchable": false}
              ]
          });
            
        } );
	</script>
        {% load templatag_grupos %}
	<div class='panel panel-default' style='width:90%'>
    	<div class="panel-heading" style='font-size: 20px;font-weight:bold;'>Listado de Sedes</div>
    	<br>
    <div style='width: 60em;'>
    <table class='table table-striped table-hover' id='lista_sedes'>
      <thead>
      <tr>
        <th colspan=6>
          {% ifusergroup administrador %}
          <a href='/sedes/data'>
          <button class='btn btn-default'>Importar Sedes</button>
          </a>
          {% endifusergroup %}
          <a href="/sedes/registrar_sede" title='Nuevo'>  
            <button class='btn btn-default'>Registrar Sede</button>
          </a>
        </th>
      </tr>
      <tr style='background-color: #E86639; color:white;'>
        <th>Código</th>
        <th>Eje</th>
        <th>Sede</th>
		<th>Descripción</th>
        <th>Acción</th>
      </tr>
      </thead>
      <tbody>
      {% for s in listar_sedes %}
      <tr>
        <td style="text-align: left !important;">{{ s.cod_sede }}</td>
		<td style="text-align: left !important;">
		  {% for e in ejes %} <!-- Filtro para mostrar el nombre del cargo -->
			{% if e.cod_eje == s.eje_id %}
			{{ e.eje }}
			{% endif %}
		  {% endfor %}
		</td>
        <td style="text-align: left !important;">{{ s.sede }}</td>
		<td style="text-align: left !important;">{{ s.descripcion }}</td>
        <td>
          <a href='{% url "actualizar_sede" s.id %}'>
            <img src='/static/image/editar.png' title='Editar' style="width:30px;height:30px;">
          </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a onclick="eliminar_data('{{s.id}}', '/sedes/eliminar_sede/')">
            <img src='/static/image/eliminar.png' title='Eliminar'>
          </a>
        </td>
      </tr>
    {% endfor %}
      </tbody>
    </table>
    </div>
    <br>
    </div>
    {% endblock contenido%}
<!-- ************************************************************* -->
