{% extends "base/base.html" %} <!-- Heredando (Bloque) plantilla index -->

{% block title %}Registrar Sede{% endblock title%} <!--Bloque para definir el título-->



{% block contenido %} <!-- Apertura de la carga de datos en el bloque 'contenido' de la plantilla 'base' -->
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/select2/select2.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/select2/select2-bootstrap.css">
	
<script src="{{STATIC_URL}}js/select2/select2.js"></script>
<script src="{{STATIC_URL}}js/select2/select2_locale_es.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#id_sede').alpha({allow:" -"}); //Valida solo valores tipo texto
	$('#id_descripcion').alpha({allow:" "}); //Valida solo valores tipo texto
	
	$("select").select2();
	    
	// Validamos los campos del formulario
	$("#registrar").click(function(e) {
	   e.preventDefault();  // Para evitar que se envíe por defecto
		    
	    if($('#id_eje').val().trim() == ''){
		bootbox.alert("Rellene el campo de eje", function () {
		$('#id_eje').parent('div').addClass('has-error');
		});
		$('#id_eje').focus();
	    }else if($('#id_sede').val().trim() == ''){
		bootbox.alert("Rellene el campo de sede", function () {
		$('#id_sede').parent('div').addClass('has-error');
		});
		$('#id_sede').focus();
	    }else if($('#id_descripcion').val().trim() == ''){
		bootbox.alert("Rellene el campo de descripción", function () {
		$('#id_descripcion').parent('div').addClass('has-error');
		});
		$('#id_descripcion').focus();
	    }else{
		$('#form_sede').submit();
		}
	});
	
	$('#volver').click(function(){
	    url = '/sedes/listar_sedes'
	    window.location = url
	})
	
});
</script>
    <form method="post" id="form_sede">
	{% csrf_token %}
	<div class='panel panel-default' style='width:60%'>
		    <div class="panel-heading" style='font-size: 20px;font-weight:bold;'>Registrar Sede</div>
		    <br>
	<table style="text-align:center;border-collapse: separate;border-spacing: 5px 15px;">
            <tr>
		<td><input id="id_cod_sede" name="cod_sede" type="hidden" value='{{num_sedes}}'/>
		</td>
	    </tr>
	    <tr>
		<td>Eje:</td>
		<td>
		    <select id='id_eje' name='eje' required>
			{% for e in ejes %}
			<option value='{{e.cod_eje}}'>{{e.eje}}</option>
			{% endfor %}
		    </select>
		</td>
	    </tr>
        <tr>
		<td>Nombre corto:</td>
		<td><input id="id_sede" required name="sede" type="text" />
		</td>
	    </tr>
		</tr>
        <tr>
		<td>Nombre completo:</td>
		<td>
			<input id="id_descripcion" name="descripcion" type="text" />
			<input type='hidden' id="id_user_update" name="user_create" value='{{user.id}}'/>
		</td>
	    </tr>
	    <tr>
		<td colspan='2'>
			<input type="submit" id="registrar" value="Registrar"/>
			<input type="button" id="volver" value="Volver" class="btn btn-primary"/>
		</td>
	    </tr>
	</table>
</div>
    </form>
{% endblock contenido %} <!-- Cierre de la carga de datos en el bloque 'contenido' de la plantilla 'base' -->
