
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */
#tabla_ubch {
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}


#tabla_ubch #container {
	width: 800px;
	margin: 30px auto;
	padding: 0;
}


#tabla_ubch #footer {
	margin: 50px auto 0 auto;
	padding: 0;
}

#tabla_ubch #demo {
	margin: 30px auto 0 auto;
}

#tabla_ubch .demo_jui {
	margin: 30px auto 0 auto;
}

#tabla_ubch .big {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;
}

#tabla_ubch .spacer {
	height: 20px;
	clear: both;
}

#tabla_ubch .clear {
	clear: both;
}

#tabla_ubch pre {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

#tabla_ubch h2 {
	margin-top: 2em;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	border-bottom: 1px solid #B0BED9;
	clear: both;
}

#tabla_ubch h2 {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	clear: both;
}

#tabla_ubch a {
	color: #0063DC;
	text-decoration: none;
}

#tabla_ubch a:hover {
	text-decoration: underline;
}

#tabla_ubch ul {
	color: #4E6CA3;
}

.css_right {
	float: right;
}

.css_left {
	float: left;
}
.expanded-group {
	background: url("imagenes/minus.jpg") no-repeat scroll right center transparent;
}

.collapsed-group {
    background: url("imagenes/plus.jpg") no-repeat scroll right center transparent;
}
.subgroup{ 
    background-color: #D4DFD8;
    border-bottom: medium solid;
 }