    {% extends "base/base.html" %} <!-- Bloque, Plantilla base -->
    {% block title %}Actualizar Municipio{% endblock %}
    
    {% block contenido %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/select2/select2.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/select2/select2-bootstrap.css">
	
    <script src="{{STATIC_URL}}js/select2/select2.js"></script>
    <script src="{{STATIC_URL}}js/select2/select2_locale_es.js"></script>
    <script>
		$(document).ready(function() {
			$("select").select2();
			$("#id_configuracion").attr('class','active');
			$('#cod_municipio').numeric({allow: ""});
			$('#municipio').alpha({allow: " "});
		});
    </script>
	<form method="post">
	    {% csrf_token %}
	    <div class='panel panel-default' style='width:60%'>
		    <div class="panel-heading" style='font-size: 20px;font-weight:bold;'>Actualizar Municipio</div>
		    <br>
	    <table style="text-align:center;border-collapse: separate;border-spacing: 5px 15px;">
		<tr>
		    <td>Codigo</td>
		    <td><input id="id_cod_municipio" required=True name="cod_municipio" type="text" readonly=True value='{{obj_reg_mun.cod_municipio}}' /></td>
		</tr>
		<tr>
		    <td>Estado</td>
		    <td>
			<select id='id_estado' name='estado'>
			    <option value=''>------------------------</option>
			    {% for e in lista_estado %}
				{% if e.cod_estado == obj_reg_mun.estado_id%}
				    <option value='{{e.cod_estado}}' selected='selected'>{{ e.estado }}</option>
				{% endif %}
				{% if not e.cod_estado == obj_reg_mun.estado_id %}
				    <option value='{{e.cod_estado}}'>{{ e.estado }}</option>
				{% endif %}
			   {% endfor %}
			</select>
		    </td>
		</tr>
		<tr>
		    <td>Circuito</td>
		    <td>
			<select id='id_circuito' name='circuito'>
			    <option value=''>------------------------</option>
			    {% for cir in lista_circuito %}
				{% if cir.codigo == obj_reg_mun.circuito_id %}
				<option value='{{cir.codigo}}' selected="selected">{{cir.circuito}}</option>
				{% endif %}
				{% if cir.codigo == obj_reg_mun.circuito_id %}
				<option value='{{cir.codigo}}'>{{cir.circuito}}</option>
				{% endif %}
			    {% endfor %}
			</select>
		    </td>
		</tr>
		<tr>
		    <td>Municipio</td>
		    <td><input id="id_municipio" required=True maxlength="50" name="municipio" type="text" value='{{obj_reg_mun.municipio}}'/></td>
		</tr>
		<tr>
		    <td colspan='3' style='text-align:right;'>
		    	<input type="submit" value="Actualizar"/>
		    </td>
		</tr>
	    </table>
	    </div>
	</form>
    {% endblock contenido%}
