<html>
    <head>
        <title></title>
		<meta http-equiv="Refresh" content="3; URL=/">
        <style type='text/css'>
            body{
                background-color: #190808;
            }
            #sms{
                text-align: center;margin-top: 250px;color: #FFFFFF;
            }
            #busqueda{
                background-color: #FFFFFF;height:60px;width:500px;color: #120B0B;margin-left:460px;
                border-radius: 9px;
                -moz-border-radius: 9px;
            }
        </style>
    </head>
    <body>
    
        <div id='sms'>
            <h2>Lo sentimos dirección no encontrada</h2>
            <h5>En 3 segundos será redirigido a la página principal...</h5>
        </div>
        <div id='busqueda' hidden=True>
            <p style='font-weight: bold;'>Modo de busqueda:</p>
            <p>cedula=12345678</p>
        </div>
        
    </body>
</html>
        
    
